<html ng-app="simple-kanban">
	<head>
		<link href="antonaustirol/semantic-ui-css/semantic.min.css" rel="stylesheet" />
	</head>

	<body>
		<div class="ui segment" ng-controller="TaskController">
			<div class="ui container">
				<h1 class="title">Aufgaben</h1>
				<table class="ui table">
					<tr ng-repeat="task in tasks">
						<td>
							({{task.id}}) {{task.title}}
						</td>
						<td>
							<button class="ui red button" ng-click="delete(task)">Löschen</button>
						</td>
					</tr>
				</table>

				<div class="ui input">
					<input type="text" placeholder="YOLO" ng-model="task"/>
				</div>
				<button class="ui button" ng-click="submit()">Speichern</button>
			</div>
		</div>

		<!-- JS -->
		<script src="antonaustirol/jquery/dist/jquery.min.js"></script>
		<script src="antonaustirol/semantic-ui-css/semantic.min.js"></script>
		<script src="antonaustirol/angular/angular.min.js"></script>
		<script src="app/app.js"></script>
	</body>
</html>